body {
  background-color: blanchedalmond;
}

h1 {
  color: chocolate;
  text-align: center;
}

p {
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  width: 500px;
}

a {
  line-height: 4;
  padding-right: 40px;
  color: chocolate;
}

img {
  width: 500px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
